<!DOCTYPE html>
<html lang:th="el"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:lang="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:background="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>GreekPoll</title>

    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="shortcut icon" th:href="@{/img/poll.png}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" th:href="@{/font-awesome/css/font-awesome.css}"/>
    <!--external css-->

    <link rel="stylesheet" href="/js/gritter/css/jquery.gritter.css" th:href="@{/js/gritter/css/jquery.gritter.css}"/>
    <link rel="stylesheet" href="/lineicons/style.css" th:href="@{/lineicons/style.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="/css/style-responsive.css" th:href="@{/css/style-responsive.css}"/>
    <link rel="stylesheet" href="/css/scroll_bar.css" th:href="@{/css/scroll_bar.css}"/>
    <script type="text/javascript" th:src="@{/js/chart-master/Chart.js}"></script>
    <script type="text/javascript" th:src="@{/js/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/js/respond.min.js}"></script>

</head>

<body onload="disablePoll()">

<section id="container">

    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="μενού"></div>
        </div>

        <a href="#" class="logo"><b>GreekPoll</b></a>


        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" th:href="@{/logout}">Αποσύνδεση</a></li>
            </ul>
        </div>

    </header>

    <object type="text/html" th:replace="menu.html :: sidebar"></object>

    <section id="main-content">
        <section class="wrapper">


            <div th:if="${param.info}">
                <div class="alert alert-info">Έχετε ολοκληρώσει αυτο το ερωτηματολόγιο</div>

            </div>


            <div class="row">
                <div class="col-lg-9 main-chart">

                    <div class="row mt" style="padding: inherit;">


                        <div  style="width: -webkit-fill-available;">
                            <div class="steps pn">
                                <div th:each="poll : ${activePollEntities}">

                                        <label   th:id="'poll'+${poll.id}"  th:onclick="'participation('+ *{poll.id} +')'" th:text="${poll.title}"></label></a>
                                </div>

                                <input type='submit' value='Ενεργά Ερωτηματολόγια'/>
                            </div>
                        </div>





                    </div>

                </div>


            </div>


            </div>


        </section>
    </section>


</section>


<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script class="include" type="text/javascript" th:src="@{/js/jquery.dcjqaccordion.2.7.js}"></script>

<script type="text/javascript" th:src="@{/js/jquery.scrollTo.min.js}"></script>


<script type="text/javascript" th:src="@{/js/common-scripts.js}"></script>


<script type="text/javascript" th:src="@{/js/gritter/js/jquery.gritter.js}"></script>

<script>

    function disablePoll() {
        var theList = [[${listOfCompletedPolls}]]

        //alert(theList);
        for (i = 0; i < theList.length; i++) {
            document.getElementById("poll"+theList[i]).style.backgroundColor = "#a90707";

            }
    }







    function participation(id) {

        window.location.replace((href = "/greekpoll/polls/participation/"+ (parseInt(id))));

    };

</script>


</body>
</html>
